.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.card {
    width: 250px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
    box-shadow: 0px 4px 10px black;
    padding: 20px;
    text-align: center;
}

.card:hover {
    box-shadow: 0px 8px 20px black;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

button {
    width: 100%;
    height: 40px;
    background-color: hsl(207, 100%, 50%);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3 ease;
}

button:hover {
    background-color: hsl(217, 100%, 50%);
    transform: scale(1.05);
}